body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
    background-color: rgba(255, 0, 0, 0.084);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border-style: dashed;
    display: flex;
    justify-content: space-around;
    align-items: center;
  /* box-sizing: border-box; */
  /* z-index: 1000; */
}

.header-center {
    background-color: blue;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
}
.vid{
    color: green;
}
.img{
    color: blue;
}
.charts-container {
    background-color: red;
    width: 50%;
    height: 700px;
    margin: auto;
    border-radius: 10px;
    margin-top: 60px;
    border-style: dashed;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}
.charts-up { 
    background-color: #27ff96;
    width: 100%;
    height: 70px;
    display: flex;
    background: #873eb8;
    background: linear-gradient(90deg, rgba(135, 62, 184, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(252, 176, 69, 1) 100%);
}
.charts-down {
    background-color: #ff0606;
    width: 100%;
    height: 70px;
    display: flex;
    background: #ff63ff;
    background: linear-gradient(90deg, rgba(255, 99, 255, 1) 0%, rgba(194, 0, 0, 1) 100%);
}
.charts-sort {
    /* background-color: #0000ff; */
    width: 100%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    /* background: #8400ff; */
    background: linear-gradient(90deg, rgb(159, 57, 255) 0%, rgb(0, 83, 228) 100%);
    justify-content: left;
    align-items: center;
    gap: 1%;
}
.charts-new {
    background-color: #27ff96;
    width: 100%;
    height: 70px;
    display: flex;
    background: #00ff90;
    background: linear-gradient(90deg, rgba(0, 255, 144, 1) 0%, rgba(0, 195, 255, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;     
}
.logogo {
    background-color: #8400ff;
    width: 190px;
    height: 100%;
    
    /* background-image: url("logo.png"); */
}
.songRank {
    /* background-color: chartreuse; */
    width: 10%;
    height: 100%;
    justify-content: flex-start;
    border-radius: 10px;
    border-style:dotted;
    /* font-size: xxx-large; */
    /* font-style: oblique;
    align-self: center;
    display: grid;
    place-items: center; */
}
.songInfo {
    /* background-color: rgb(0, 242, 255); */
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    border-style:dotted;
    /* font-size: xxx-large;
    font-style: oblique;
    align-self: center;
    display: grid;
    place-items: center; */
}
.songButton {
    /* background-color: chartreuse; */
    width: 30%;
    height: 100%;
    border-style:dotted;
    font-size: xxx-large;
    font-style: oblique;
    align-self: center;
    display: grid;
    place-items: center;
}
.songAlbum {
    /* background-color: chartreuse; */
    width: 10%;
    height: 100%;
    justify-content: flex-start;
    border-style:dotted;
    font-size: xxx-large;
    font-style: oblique;
    align-self: center;
    display: grid;
    place-items: center;
}
.sortedButton {
    height: 40px;
    width: 115px;
    background-color: lemonchiffon;
    border-radius: 15%;
    font-size: large;
    align-content: center;
}
.cola{
    background-color: rgb(255, 230, 0);
}
.colb{
    background-color: rgb(255, 0, 0);
}
.colc{
    background-color: rgb(47, 255, 0);
}
.cold{
    background-color: rgb(0, 255, 204);
}
.spoiler {
    margin-top: 10px;
}
.rankNum {
    height: 60%;
    width: 30%;
    /* background-color: lemonchiffon; */
    font-size: xx-large;
    font-weight:100;
    /* margin-left: 35%; */
    margin: auto;
}
.rankPos {
    height: 40%;
    width: 30%;
    /* background-color: lemonchiffon; */
    font-size: large;
    font-weight: bold;
    margin: auto;
    /* margin-left: 30%; */
}
.rankUp { color:#1eff00 }/*content: "▲ "; content: "▼ "; */
.rankDown { color: #e00e0e; }
.rankNew { color:#8400ff; margin-left: 25%;}

.songName {
    height: 60%;
    width: 100%;
    /* background-color: lemonchiffon; */
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(63, 0, 165);
}
.songGuy {
    height: 40%;
    width: 100%;
    /* background-color: rgb(255, 247, 177); */
    font-size: larger;
    margin: auto;
    color: #200046;
}
.button{
    height: 50%;
    width: 70%;
    background-color: lemonchiffon;
    font-size: large;
    margin: auto;
}
.button:hover {
    /* opacity: 80%; */
    background-color: #dec3ffa3;
}